body {
    background-color: #000
}
#console {
    font-family: courier, monospace;
    color: #fff;
    width: 50%;
    margin-left:auto;
    margin-right:auto;
    margin-top:10%;
    margin-bottom:10%;
    font-size:16px;
}
a {
    color: #0bc;
    text-decoration: none;
}
#a {
    color: #0f0;
}
#c {
    color: #0bc;
}
#b {
    color: #ff0096;
}